<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia DUOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoHome">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1></h1>
          <h1>Registro de usuario</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pregunta secreta</ion-label>
          <ion-input type="text" [(ngModel)]="preguntaSecreta"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Respuesta secreta</ion-label>
          <ion-input type="text" [(ngModel)]="respuestaSecreta"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmarPassword"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button class="botonNaranja" (click)="guardarUsuario()" shape="round">
        Registrar
      </ion-button>
<br>
      <ion-button class="botonNaranja" (click)="ingreso()"   shape="round">
        volver al login
      </ion-button>
      <h1></h1>
    </ion-card>
  </div>
</ion-content>

