<ion-header [translucent]="true">
  <ion-toolbar class="ion-align-items-center">
    <ion-thumbnail slot="start" class="center-horizontal">
      <img src="../../../assets/Imagenes/logoDuocCirculo.png" alt="Imagen en el toolbar" [@animation]="animationState" />
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondoHome">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="mi-card">
    <h1>
    </h1>
    <ion-card-header>
      <ion-card-title>Bienvenido al Home</ion-card-title>
      <ion-card-subtitle>¿Qué vamos a hacer hoy?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Agrega el botón dentro del card -->
      <ion-button class="botonNaranja" expand="full" (click)="redirectToQRReader()">
        Ir al lector de QR
      </ion-button>
    </ion-card-content>
    <h1></h1>
    <h1></h1>
  </ion-card>

</ion-content>
